<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <h1 th:text="#{게시글_작성}"></h1>
    <form name="frmCreate" method="POST" th:action="@{/board/create}" autocomplete="off">
        <dl>
            <dt th:text="#{아이디}"></dt>
            <dd>
                <input type="text" name="email">
            </dd>
        </dl>
        <dl>
            <dt th:text="#{비밀번호}"></dt>
            <dd>
                <input type="password" name="password">
            </dd>
        </dl>
        <dl>
            <dt th:text="#{제목}"></dt>
            <dd>
                <input type="text" name="title">
            </dd>
        </dl>
        <dl>
            <dt th:text="#{글작성}"></dt>
            <dd>
                <textarea id="content" rows="10" placeholder="게시글 내용 입력"></textarea>
            </dd>
        </dl>
        <button type="submit" th:text="#{작성하기}"></button>
        <button type="reset" th:text="#{다시쓰기}"></button>
    </form>
</main>
</html>