<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">

<main layout:fragment="content">
    <h1 th:text="#{게시글_목록}"></h1>

    <table class="list-table">
        <thead>
        <tr>
            <th th:text="#{작성자}"></th>
            <th th:text="#{제목}"></th>
            <th th:text="#{작성_날짜}"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

        <button type="submit" th:text="#{작성하기}"></button>
        <button type="reset" th:text="#{다시쓰기}"></button>
</main>
</html>